<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <form [formGroup]="currentForm" (submit)="submit()">
        <div class="modal-header">
          <h4 class="modal-title">Domain</h4>
          <button type="button" class="close" (click)="modalCancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden"
                     id="id"
                     name="id"
                     class="form-control"
                     formControlName="id"
            >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
              </div>
              <input type="text"
                     id="name"
                     name="name"
                     class="form-control"
                     formControlName="name"
                     [ngClass]="{ 'is-invalid': frm.name.touched && frm.name.errors, 'is-valid': frm.name.touched && !frm.name.errors }"
              >
<!--              <div class="input-group-append">-->
<!--                <span class="input-group-text"><i class="fa fa-user"></i></span>-->
<!--              </div>-->
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Url</span>
              </div>
              <input type="text"
                     id="url"
                     name="url"
                     class="form-control"
                     formControlName="url"
                     [ngClass]="{ 'is-invalid': frm.url.touched && frm.url.errors, 'is-valid': frm.url.touched && !frm.url.errors }"
              >
<!--              <div class="input-group-append">-->
<!--                <span class="input-group-text"><i class="fa fa-envelope"></i></span>-->
<!--              </div>-->
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">State</span>
              </div>
              <select id="state"
                      name="state"
                      class="form-control"
                      formControlName="state"
              >
                <option [value]="state.id" *ngFor="let state of statesList">{{this.state.name}}</option>
              </select>
<!--              <div class="input-group-append">-->
<!--                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="currentForm.pristine || currentForm.invalid">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="modalCancel()" >Close</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="animated fadeIn">
  <div class="card">

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">

          <div class="input-group">
            <div class="input-group-prepend">
              <button type="submit"
                      class="btn btn-primary px-4 btn-ladda"
                      data-style="zoom-out"
                      data-toggle="modal"
                      [ladda]='isLoading'
                      (click)="modalOpen()"
              >
                Add
              </button>
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-responsive-lg" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 20%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 40%">
              <mfDefaultSorter by="url">Url</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="state">State</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.url}}</td>
            <td>
              <span class="badge badge-pill badge-dark" *ngIf="item.state==2">Disabled</span>
              <span class="badge badge-pill badge-success" *ngIf="item.state==1">Enabled</span>
              <span class="badge badge-danger" *ngIf="item.state==0">Removed</span>
            </td>
            <td>
              <a class="btn btn-info" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#" *ngIf="item.state!==0">
                <i class="cui-trash icons"></i>
              </a>
              <a class="btn btn-warning" href="#" *ngIf="item.state==0">
                <i class="fa fa-undo"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
